{% extends "questapp/base.html" %}
{% load i18n %}
{% block content %}

{% if form.errors %}
<p>{% trans "Your username and password didn't match. Please try again." %}</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
        <p>{% trans "Your account doesn't have access to this page. To proceed,</p>
            please login with an account that has access." %}
    {% else %}
        <p>{% trans "Please login to see this page." %}</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'questapp:login' %}">
{% csrf_token %}
<p>
    {{ form.username.label_tag }}
    {{ form.username }}
</p>
<p>
    {{ form.password.label_tag }}
    {{ form.password }}
</p>


<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}