<! DOCTYPE html>
{% load i18n %}
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'questapp/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'questapp/style.css' %}" type="text/css" />


</head>

<body>

    {% if user.is_authenticated %}

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <p class="navbar-text"><i class="fa fa-user" aria-hidden="true"></i> {{user.username}}</p>
            </div>
            <ul class="nav navbar-nav navbar-right" style="list-style-type: none;">
                <li class="active"><a class="nav-link" href="{% url 'questapp:index' %}"><i class="fa fa-home" aria-hidden="true"></i>Home</a>
                <li><a class="navbar-link" href="{% url 'questapp:logout' %}"><i class="fa fa-sign-out" aria-hidden="true"></i>Log Out</a></li>
            </ul>
        </div>
    </nav>

    {% else %}


      <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <p class="navbar-text"><i class="fa fa-user" aria-hidden="true"></i>  Anonymous</p>
            </div>
            <ul class="nav navbar-nav navbar-right" style="list-style-type: none;">
                <li class="active"><a class="nav-link" href="{% url 'questapp:index' %}"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
                <li><a class="nav-link" href="{% url 'questapp:login' %}"><i class="fa fa-sign-in" aria-hidden="true"></i>Log In</a></li>
                <li><a class="nav-link" href="{% url 'questapp:signup' %}"><i class="fa fa-user-plus" aria-hidden="true"></i>Sign Up</a></li>
            </ul>
        </div>
    </nav>

    {% endif %}
    {% block header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

</body>
</html>