{% extends 'questapp/base.html' %}

{% block content %}

{% if error_message %}
    <div class="text-center">
        <strong style="color: red"> {{ error_message }}
        </strong>
    </div>
{% endif %}

<div class="text-center"><strong>{{ questionnaire.test_name }} : {{questionnaire.test_description}}</strong></div><hr>

{% if questions %}
      <div class="container">
        <form class="form-horizontal" action="{% url 'questapp:result' questionnaire.id %}" method="post">
            {% csrf_token %}

            {% for question in questions %}
                <div class=" container text-center">
                    <a href="{% url 'questapp:question_detail' question.id %}"><i class="fa fa-question-circle-o" aria-hidden="true"></i>
                        question: {{forloop.counter}} -- {{ question.question_text }}
                    </a>
                    {% for answer in question.answers_set.all %}
                    <div class="container text-center radio">
                        {% if answer.id in checked %}
                            <input type="radio" name="question{{question.id}}" id="question{{question.id}}" value="{{answer.id}}" checked="checked"/>
                        {% else %}
                            <input type="radio" name="question{{question.id}}" id="question{{question.id}}" value="{{answer.id}}" />
                        {% endif %}
                        <label for ="question{{question.id}}">{{answer.answer_text}} </label>
                     </div>
                    {% endfor %}
                </div> </br>
            {% endfor %}
            <hr/>
             <div class="text-center"> <input type="submit" value="Vote" class="btn btn-primary"/> </div>
        </form>
      </div>
<div class="pagination text-center">
    <span class="step-links">
        {% if questions.has_previous %}
            <a href="?page={{ questions.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ questions.number }} of {{ questions.paginator.num_pages }}.
        </span>

        {% if questions.has_next %}
            <a href="?page={{ questions.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% else %}
<div class="text-center"><mark style="color: red">No questions to show</mark></div>
</br>
{% endif %}
 {% if user.is_authenticated %}
     <div class="text-center">
                <a href="{% url 'questapp:edit_questionnaire' questionnaire.id %}" class="btn btn-primary"><i class="fa fa-pencil-square" aria-hidden="true"></i>  Edit Questionnaire</a>
                <a href="{% url 'questapp:delete_questionnaire' questionnaire.id %}" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i>  Delete Questionnaire</a>
                <a href="{% url 'questapp:add_question' questionnaire.id %}" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i>  Add Question</a>
     </div>
{% endif %}


{% endblock %}