
{% extends "questapp/base.html" %}



{% block content %}

{% if questionnaires %}

    {% for questionnaire in questionnaires %}
    <div class="text-center">
        <a class="text-center" href="{% url 'questapp:detail' questionnaire.id %}" ><i class="fa fa-quora" aria-hidden="true"></i>
            {{ questionnaire.test_name }} : {{questionnaire.test_description}}
        </a>
    </div>

    <hr>
    {% endfor %}

    {% include 'questapp/paginator.html'%}
{% else %}
    <div class="text-center"><mark>No questionnaires to show</mark></div>
{% endif %}

{% if user.is_authenticated %}
    <div class="text-center">
        <li><a class="btn btn-primary" href="{% url 'questapp:create_questionnaire' %}"><i class="fa fa-plus" aria-hidden="true"></i>  Add Questionnaire</a></li>
    </div>
{% endif %}

{% endblock %}