{% extends 'questapp/base.html' %}
{% load formset_tags %}
{% load i18n %}
{% block content %}

    <form method="post">
        {% csrf_token %}
        {% if formset %}
            {{ formset.management_form }}
            <div class="formset">
                {% for form in formset %}
                    <div>{{ form.as_table }}</div>
                    {% endfor %}
            </div>
                 {% if formset.non_form_errors %}
                    {% for error in formset.non_form_errors %}
                        {{ error|escape }}
                    {% endfor %}
                {% endif %}
        {% endif %}

        <button class="btn btn-primary" type="submit">{% trans "Save" %}</button>

    </form>
    <script>('.formset').formset({
                    });
     </script>
{% endblock %}