{% extends 'questapp/base.html' %}


{% block content %}


{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

 <div class="text-center">{{ question.question_text }}</div><hr>
        <div class="text-center">
            {% for answer in question.answers_set.all %}
            <div style="font-size: 20">
                <strong><i class="fa fa-arrows-h" aria-hidden="true"></i>
                    <span style="color: blue">answer{{forloop.counter}}:</span>  {{answer.answer_text}}
                </strong>
            </div> </br>
            {% endfor %}
        </div>
<hr/>
 {% if user.is_authenticated %}
     <div class="text-center">
                <a href="{% url 'questapp:edit_question' question.id %}" class="btn btn-primary"><i class="fa fa-pencil-square" aria-hidden="true"></i>  Edit Question</a>
                <a href="{% url 'questapp:delete_question' question.id %}" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i>  Delete Question</a>
                <a href="{% url 'questapp:manage_answers' question.id %}" class="btn btn-primary"><i class="fa fa-pencil-square" aria-hidden="true"></i>  Manage Answers</a>
     </div>

{% endif %}


{% endblock %}