
{% extends 'questapp/base.html' %}

{% block content %}
<div class="container text-center">
    <p>For the test --- {{questionnaire.test_name}}</p>
    <p><strong>You're score is {{score}} out of {{max_score}}</strong></p>
    <div class="actions">{{message_text}}</div>


    {% if better_answers %}
        <p>You're score would have been better if you wold have answer this way:</p>
        {% for p, q, a, s in better_answers %}
            <p> On page: {{p}}</p>
            <p> At question: {{q}}</p>
            <p>better response would have been </p>
            <p>{{a}} with a score of {{s}}</p>

        {% endfor %}
    {% else %}
        <p> Congrats, all your answers were correct </p>
    {% endif %}
</div>
{% endblock %}